:root {
  --text-color: black;
}

.title {
  font-family: 'Baloo Thambi 2', system-ui;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--text-color);
  transition: color 1s ease;
  text-align: center;
  
}

.title-tagline {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 1s ease;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 3;
}

.submit-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  font-family: 'Advent Pro', sans-serif;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 1s ease;
}

.carousel .button {
  cursor: pointer;
}

@media (min-width: 355px) and (max-width: 767px) {
  .title {
  font-size:3rem; 
  line-height: 3rem;
}
.title-tagline {
  font-size: 1rem; 
}
.mood{
  font-size: 1rem;
}
.submit-btn {
  font-size: 1rem;
}
}
  

@media  (min-width: 768px) and (max-width:1024px) {
  
.title {
  font-size:4rem; 
  line-height: 4rem;
} 
}