.oldbg-container,
.newbg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  
}

.oldbg-container {
  z-index: 2;
}

.newbg-container {
  z-index: 1;
}

.bg-wrapper {
  position: relative;
  flex: 1;
}
