.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 20px;
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 10px;
  position: fixed;
  z-index: 3;
  color: var(--text-color);
  transition: color 1s ease;
}

.options {
  display: flex;
  gap: 30px;
  font-family: 'Advent Pro', sans-serif;
}
