.Header,
.SongsHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  height: 20px;
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 50px;
  position: fixed;
  z-index: 3;
  color: var(--text-color);
  transition: color 1s ease;
}

.SongsHeader {
  position: relative;
}

.options {
  display: flex;
  gap: 30px;
  font-family: 'Advent Pro', sans-serif;
}


@media (min-width: 355px) and (max-width: 767px) {
  .Header,
.SongsHeader{
  font-size: 1rem;
}
}
  

@media  (min-width: 768px) and (max-width:1024px) {  
.title {
  font-size:4rem; 
  line-height: 4rem;
}
}
